/*
 # Abbreviations:
 tnb - top navigation bar
*/
#pipara-acadeny-search-suggestions {
  display: none;
  position: fixed;
  z-index: 5;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff;
  color: #000;
  width: 300px;
  top: 49px;
  left: 507px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border: 1px solid #ddd;
  text-align: left;
}

#pipara-acadeny-search-suggestions .search_item {
  background-color: #fff;
  color: #777;
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 10px 26px;
  width: 100%;
  opacity: 0.95;
  border: none;
  cursor: pointer;
}

#pipara-acadeny-search-suggestions .search_item:hover {
  color: #000;
  opacity: 1;
}

#pipara-acadeny-search-suggestions .span_search {
  background-color: #ffecee;
}

#pipara-acadeny-search-suggestions .search_active {
  background-color: #ffecee !important;
  color: #000 !important;
}

#pipara-acadeny-search-suggestions .search_active .span_search {
  background-color: #ffccd1;
}

@media (max-width: 954px) {
  #pipara-acadeny-search-suggestions {
    left: 378px;
  }
}

@media (max-width: 828px) {
  #pipara-acadeny-search-suggestions {
    left: 10px;
    width: 91%;
  }
}

#nav-bar {
  height: 0;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

#nav-bar #tnb-dark-mode-toggle-btn>i {
  margin-top: -1px;
}

#nav-bar .top-nav-bar-menu-btn {
  width: 93px;
  display: none;
}

@media (max-width: 688px) {
  #nav-bar .top-nav-bar-menu-btn {
    display: block;
  }
}

@media (max-width: 399px) {
  #nav-bar .top-nav-bar-menu-btn {
    width: 76px;
    padding: 8px;
  }
}

#nav-bar .top-nav-bar-desktop-nav {
  padding: 0;
  display: block;
}

@media (max-width: 954px) {
  #nav-bar .top-nav-bar-desktop-nav #navbtn_certified {
    display: none;
  }
}

@media (max-width: 688px) {
  #nav-bar .top-nav-bar-desktop-nav {
    display: none;
  }
}

#nav-bar .purple-shining-stars {
  color: #9763f6;
}

#nav-bar .white-shining-stars {
  color: #ffffff;
}

#nav-bar .shining-stars {
  position: relative;
  right: 2px;
  top: 2px;
  margin-right: 3px;
  width: 12px;
  height: 16px;
}

#nav-bar .tnb-prevent-select,
#nav-bar .tnb-button>i,
#nav-bar .user-profile-btn>i,
#nav-bar .tnb-button-dark-v2>i,
#nav-bar .tnb-button-dark>i,
#nav-bar .tnb-button-light>i,
#nav-bar .tnb-button-inverted>i,
#nav-bar .tnb-button>span,
#nav-bar .user-profile-btn>span,
#nav-bar .tnb-button-dark-v2>span,
#nav-bar .tnb-button-dark>span,
#nav-bar .tnb-button-light>span,
#nav-bar .tnb-button-inverted>span,
#nav-bar .tnb-button>div,
#nav-bar .user-profile-btn>div,
#nav-bar .tnb-button-dark-v2>div,
#nav-bar .tnb-button-dark>div,
#nav-bar .tnb-button-light>div,
#nav-bar .tnb-button-inverted>div,
#nav-bar .tnb-button>svg,
#nav-bar .user-profile-btn>svg,
#nav-bar .tnb-button-dark-v2>svg,
#nav-bar .tnb-button-dark>svg,
#nav-bar .tnb-button-light>svg,
#nav-bar .tnb-button-inverted>svg,
#nav-bar .tnb-button>img,
#nav-bar .user-profile-btn>img,
#nav-bar .tnb-button-dark-v2>img,
#nav-bar .tnb-button-dark>img,
#nav-bar .tnb-button-light>img,
#nav-bar .tnb-button-inverted>img,
#nav-bar .tnb-button,
#nav-bar .user-profile-btn,
#nav-bar .tnb-button-dark-v2,
#nav-bar .tnb-button-dark,
#nav-bar .tnb-button-light,
#nav-bar .tnb-button-inverted {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#nav-bar .tnb-button,
#nav-bar .user-profile-btn,
#nav-bar .tnb-button-dark-v2,
#nav-bar .tnb-button-dark,
#nav-bar .tnb-button-light,
#nav-bar .tnb-button-inverted {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 25px;
  white-space: normal;
  text-align: center;
  outline: none !important;
  text-decoration: none !important;
  color: #000 !important;
  cursor: pointer;
}

#nav-bar .tnb-button>i,
#nav-bar .user-profile-btn>i,
#nav-bar .tnb-button-dark-v2>i,
#nav-bar .tnb-button-dark>i,
#nav-bar .tnb-button-light>i,
#nav-bar .tnb-button-inverted>i {
  font-style: normal !important;
}

.darkpagetheme #nav-bar .tnb-button,
.darkpagetheme #nav-bar .user-profile-btn,
.darkpagetheme #nav-bar .tnb-button-dark-v2,
.darkpagetheme #nav-bar .tnb-button-dark,
.darkpagetheme #nav-bar .tnb-button-light,
.darkpagetheme #nav-bar .tnb-button-inverted {
  color: #ddd !important;
}

#nav-bar .tnb-button:hover,
#nav-bar .user-profile-btn:hover,
#nav-bar .tnb-button-dark-v2:hover,
#nav-bar .tnb-button-dark:hover,
#nav-bar .tnb-button-light:hover,
#nav-bar .tnb-button-inverted:hover {
  background-color: #f1f1f1 !important;
}

.darkpagetheme #nav-bar .tnb-button:hover,
.darkpagetheme #nav-bar .user-profile-btn:hover,
.darkpagetheme #nav-bar .tnb-button-dark-v2:hover,
.darkpagetheme #nav-bar .tnb-button-dark:hover,
.darkpagetheme #nav-bar .tnb-button-light:hover,
.darkpagetheme #nav-bar .tnb-button-inverted:hover {
  background-color: #38444d !important;
}

#nav-bar .tnb-button:active,
#nav-bar .user-profile-btn:active,
#nav-bar .tnb-button-dark-v2:active,
#nav-bar .tnb-button-dark:active,
#nav-bar .tnb-button-light:active,
#nav-bar .tnb-button-inverted:active {
  box-shadow: inset 0 0 10px #d7d7d7;
}

.darkpagetheme #nav-bar .tnb-button:active,
.darkpagetheme #nav-bar .user-profile-btn:active,
.darkpagetheme #nav-bar .tnb-button-dark-v2:active,
.darkpagetheme #nav-bar .tnb-button-dark:active,
.darkpagetheme #nav-bar .tnb-button-light:active,
.darkpagetheme #nav-bar .tnb-button-inverted:active {
  box-shadow: inset 0 0 10px #555555;
}

#nav-bar .tnb-button-inverted {
  color: #ddd !important;
}

.darkpagetheme #nav-bar .tnb-button-inverted {
  color: #000 !important;
}

#nav-bar .tnb-button-inverted:hover {
  background-color: #38444d !important;
}

.darkpagetheme #nav-bar .tnb-button-inverted:hover {
  background-color: #f1f1f1 !important;
}

#nav-bar .tnb-button-inverted:active {
  box-shadow: inset 0 0 10px #555555 !important;
}

.darkpagetheme #nav-bar .tnb-button-inverted:active {
  box-shadow: inset 0 0 10px #d7d7d7 !important;
}

#nav-bar .tnb-button-light {
  color: #000 !important;
}

.darkpagetheme #nav-bar .tnb-button-light {
  color: #000 !important;
}

#nav-bar .tnb-button-light:hover {
  background-color: #f1f1f1 !important;
}

.darkpagetheme #nav-bar .tnb-button-light:hover {
  background-color: #f1f1f1 !important;
}

#nav-bar .tnb-button-light:active {
  box-shadow: inset 0 0 10px #d7d7d7 !important;
}

.darkpagetheme #nav-bar .tnb-button-light:active {
  box-shadow: inset 0 0 10px #d7d7d7 !important;
}

#nav-bar .tnb-button-dark {
  color: #ddd !important;
}

.darkpagetheme #nav-bar .tnb-button-dark {
  color: #ddd !important;
}

#nav-bar .tnb-button-dark:hover {
  background-color: #38444d !important;
}

.darkpagetheme #nav-bar .tnb-button-dark:hover {
  background-color: #38444d !important;
}

#nav-bar .tnb-button-dark:active {
  box-shadow: inset 0 0 10px #555555 !important;
}

.darkpagetheme #nav-bar .tnb-button-dark:active {
  box-shadow: inset 0 0 10px #555555 !important;
}

#nav-bar .tnb-button-dark-v2 {
  color: #ddd !important;
}

.darkpagetheme #nav-bar .tnb-button-dark-v2 {
  color: #ddd !important;
}

#nav-bar .tnb-button-dark-v2:hover {
  background-color: rgba(52, 52, 52, 0.5) !important;
}

.darkpagetheme #nav-bar .tnb-button-dark-v2:hover {
  background-color: rgba(52, 52, 52, 0.5) !important;
}

#nav-bar .tnb-button-dark-v2:active {
  box-shadow: inset 0 0 10px #2a2a2a !important;
}

.darkpagetheme #nav-bar .tnb-button-dark-v2:active {
  box-shadow: inset 0 0 10px #2a2a2a !important;
}

#nav-bar #tnb-google-search-container {
  position: relative;
  display: block;
  padding: 10px 8px;
}

@media (max-width: 399px) {
  #nav-bar #tnb-google-search-container {
    padding: 10px 6px;
  }
}

#nav-bar #tnb-google-search-container>#tnb-google-search-inner-container {
  position: relative;
  display: block;
  width: 660px;
}

#nav-bar #tnb-google-search-container input {
  padding: 5px 40px 5px 15px;
  border: 2px solid rgba(40, 255, 3, 0.776) !important;
  border-radius: 25px;
  width: 100%;
}

#nav-bar #tnb-google-search-container input:placeholder-shown {
  font-style: italic;
}

#nav-bar #tnb-google-search-container input:focus-visible {
  outline: #04aa6d solid 3px;
}

#nav-bar #tnb-google-search-container #tnb-google-search-submit-btn {
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 8px;
}

#nav-bar #tnb-google-search-container #tnb-google-search-submit-btn>svg {
  width: 18px;
  height: 18px;
  text-align: center;
  display: block;
  float: left;
}

#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns {
  display: none;
  float: left;
}

#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.user-profile-btn,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-inverted,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-light,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-dark,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-dark-v2 {
  padding: 9px;
  float: left;
}

#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button>svg,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.user-profile-btn>svg,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-inverted>svg,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-light>svg,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-dark>svg,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-dark-v2>svg,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button>i,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.user-profile-btn>i,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-inverted>i,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-light>i,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-dark>i,
#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns>.tnb-button-dark-v2>i {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  display: block;
  float: left;
}

#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns #tnb-google-search-mobile-close {
  display: none;
}

#nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns #tnb-google-search-mobile-close>i {
  font-size: 29px;
}

#nav-bar #tnb-google-search-container.tnb-mobile-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding-right: 52px;
}

.darkpagetheme #nav-bar #tnb-google-search-container.tnb-mobile-active {
  background-color: #1d2a35;
}

#nav-bar #tnb-google-search-container.tnb-mobile-active #tnb-google-search-inner-container {
  display: block;
  width: 100%;
}

#nav-bar #tnb-google-search-container.tnb-mobile-active #tnb-google-search-mobile-action-btns {
  display: block;
  position: absolute;
  top: 9px;
  right: 8px;
}

#nav-bar #tnb-google-search-container.tnb-mobile-active #tnb-google-search-mobile-action-btns #tnb-google-search-mobile-close {
  display: block;
}

#nav-bar #tnb-google-search-container.tnb-mobile-active #tnb-google-search-mobile-action-btns #tnb-google-search-mobile-show {
  display: none;
}

@media (min-width: 689px) and (max-width: 828px) {
  #nav-bar #tnb-google-search-container #tnb-google-search-inner-container {
    display: none;
  }

  #nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns {
    display: block;
  }
}

@media (max-width: 616px) {
  #nav-bar #tnb-google-search-container #tnb-google-search-inner-container {
    display: none;
  }

  #nav-bar #tnb-google-search-container #tnb-google-search-mobile-action-btns {
    display: block;
  }
}

#nav-bar #tnb-dark-mode-toggle-wrapper {
  padding: 10px 8px;
}

@media (max-width: 399px) {
  #nav-bar #tnb-dark-mode-toggle-wrapper {
    padding: 10px 6px;
  }
}

#nav-bar #tnb-dark-mode-toggle-wrapper>a {
  padding: 9px;
}

#nav-bar #tnb-dark-mode-toggle-wrapper>a>i {
  font-style: normal !important;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
}

#nav-bar:not(.modern) #tnb-dark-mode-toggle-wrapper {
  display: none;
}

#nav-bar>#pagetop-nav-bar {
  position: absolute;
  padding: 0;
  height: 56px;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-bar h1,
#nav-bar h2,
#nav-bar h3,
#nav-bar h4,
#nav-bar h5,
#nav-bar h6 {
  font-family: "Source Sans Pro", sans-serif;
}

#nav-bar .tnb-mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  top: 56px;
  bottom: 0;
  z-index: inherit;
  flex-direction: column;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: "Source Sans Pro Topnav", sans-serif;
  border-top: none;
  letter-spacing: 0;
  cursor: default;
  background-color: #282a35;
  color: #fff;
}

@media (max-width: 688px) {
  #nav-bar .tnb-mobile-nav.tnb-active {
    display: block !important;
  }
}

#nav-bar .tnb-mobile-nav>.PAN-container {
  height: 100%;
  position: relative;
  padding: 84px 0 100px 0;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgb(67, 68, 74);
  padding: 20px 30px;
  text-align: left;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button:active,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button:active {
  color: #ffffff;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button:hover,
#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button.tnb-active,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button:hover,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button.tnb-active {
  background-color: #fbfbfb !important;
  color: #000000 !important;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button>.tnb-title,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button>.tnb-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  display: inline-block;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button>.tnb-icon,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button>.tnb-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -11px;
  height: 22px;
  width: 22px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button>.tnb-icon.fa-caret-up,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button>.tnb-icon.fa-caret-up {
  height: 10px;
  margin-top: -5px;
  line-height: 6px;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.PAN-button>.tnb-icon.fa-caret-down,
#nav-bar .tnb-mobile-nav>.PAN-container>.PAN-button>.tnb-icon.fa-caret-down {
  height: 10px;
  margin-top: -5px;
  line-height: 12px;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section>.tnb-mobile-nav-section-body {
  display: none;
}

#nav-bar .tnb-mobile-nav>.PAN-container>.tnb-mobile-nav-section.tnb-active>.tnb-mobile-nav-section-body {
  display: block;
}

#nav-bar .user-anonymous.PAN-hide,
#nav-bar .user-authenticated.PAN-hide,
#nav-bar .tnb-upgrade.PAN-hide {
  display: none !important;
}

#nav-bar .active {
  background-color: #04aa6d;
}

#nav-bar .menu-content {
  max-width: 1100px;
  font-size: 18px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto 25px;
}

#nav-bar .menu-content>div>.PAN-col {
  margin-top: -10px;
}

#nav-bar .tnb-Books-headlines {
  font-size: 17px;
  margin: 0;
  padding: 30px 13px 15px 13px;
}

@media (max-width: 688px) {
  #nav-bar .tnb-Books-headlines {
    margin-top: 0;
  }
}

#nav-bar .serviceboxes {
  margin-top: 20px;
  padding: 0;
}

#nav-bar .serviceboxes>.servicebox {
  display: block;
  padding: 10px;
  float: left;
  width: 33.3333%;
}

@media (max-width: 688px) {
  #nav-bar .serviceboxes>.servicebox {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #nav-bar .serviceboxes>.servicebox {
    width: 100%;
  }
}

#nav-bar .serviceboxes>.servicebox>.Bookslink {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 137px;
}

@media (max-width: 992px) and (min-width: 601px) {
  #nav-bar .serviceboxes>.servicebox>.Bookslink {
    height: 160px;
  }
}

@media (min-width: 689px) and (max-width: 828px) {
  #nav-bar .serviceboxes>.servicebox>.Bookslink {
    height: 182px;
  }
}

@media (max-width: 688px) {
  #nav-bar .serviceboxes>.servicebox>.Bookslink {
    height: 160px;
  }
}

@media (max-width: 600px) {
  #nav-bar .serviceboxes>.servicebox>.Bookslink {
    height: auto;
  }
}

#nav-bar .serviceboxes>.servicebox>.Bookslink>.Books {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}

#nav-bar .nav-heading-container {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#nav-bar .nav-heading-container>.nav-heading-container-title {
  float: left;
  width: 33.33333%;
  height: 68px;
  padding: 0 8px;
}

@media (max-width: 992px) and (min-width: 601px) {
  #nav-bar .nav-heading-container>.nav-heading-container-title {
    width: 38%;
  }
}

@media (max-width: 688px) {
  #nav-bar .nav-heading-container>.nav-heading-container-title {
    display: none;
  }
}

#nav-bar .nav-heading-container>.filter-input-wrapper {
  position: relative;
  float: left;
  width: 33.33333%;
  min-width: 330px;
  height: 46px;
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 0 8px;
}

@media (max-width: 688px) {
  #nav-bar .nav-heading-container>.filter-input-wrapper {
    width: 100%;
    min-width: auto;
  }
}

#nav-bar .nav-heading-container>.filter-input-wrapper>.filter-input-inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#nav-bar .nav-heading-container>.filter-input-wrapper>.filter-input-inner-wrapper>.filter-clear-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

#nav-bar .nav-heading-container>.filter-input-wrapper>.filter-input-inner-wrapper>.filter-clear-btn>span {
  display: inline-block;
  width: 12px;
  line-height: 12px;
  height: 12px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -7px;
}

#nav-bar .box {
  display: flex;
  align-items: center;
}

#nav-bar .left {
  justify-content: flex-start;
}

#nav-bar .middle {
  flex-grow: 1;
  justify-content: center;
}

#nav-bar .space-between {
  justify-content: space-between;
}

#nav-bar .right {
  justify-content: flex-end;
}

#nav-bar .nav-heading-container::before {
  content: none;
}

#nav-bar .filter-input {
  flex-grow: 1;
  background-color: #464646;
  color: white;
  font-size: 16px;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 20px;
  border-radius: 25px;
  width: 100%;
  border: 1px solid rgba(255, 244, 163, 0.2);
}

#nav-bar .filter-input::placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 400;
}

#nav-bar .filter-icon {
  color: white;
  margin-left: 10px;
}

#nav-bar .t-small {
  font-size: 12px;
}

#nav-bar .t-bold {
  font-weight: bold;
}

#nav-bar .flex-column {
  display: flex;
  flex-direction: column;
}

#nav-bar .PAN-bar-block .PAN-bar-item,
#nav-bar .ws-btn {
  padding: 2px 8px;
}

#nav-bar #close-nav-x-Courses,
#nav-bar #close-nav-x-Notes,
#nav-bar #close-nav-x-certified,
#nav-bar #close-nav-x-Books {
  padding: 0 16px;
}

#nav-bar #close-nav-x-Courses:hover,
#nav-bar #close-nav-x-Notes:hover,
#nav-bar #close-nav-x-certified:hover,
#nav-bar #close-nav-x-Books:hover {
  background-color: inherit !important;
  color: #fff4a3 !important;
}

#nav-bar .filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 244, 163, 0.2);
  gap: 16px;
  cursor: pointer;
}

#nav-bar .filter-caret {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
}

#nav-bar .filter-modal-container {
  display: none;
  position: absolute;
  top: 91%;
  z-index: 10;
  padding: 10px 0;
  left: -1px;
  cursor: pointer;
}

#nav-bar .filter-modal {
  border: 1px solid rgba(255, 244, 163, 0.2);
  border-radius: 5px;
  background-color: #282a35;
  padding: 5px 10px;
}

#nav-bar .filter-modal .PAN-button {
  opacity: 1;
}

#nav-bar .filter-modal .active {
  opacity: 0.5;
}

#nav-bar .filter-box button,
#nav-bar .filter-modal button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  padding: 2px 6px;
  cursor: pointer;
}

#nav-bar #Courses-show-btn a,
#nav-bar #Courses-sort-btn a,
#nav-bar #Notes-show-btn a,
#nav-bar #Notes-sort-btn a,
#nav-bar #certified-show-btn a,
#nav-bar #certified-sort-btn a {
  text-decoration: none;
  padding: 5px 10px !important;
  color: inherit !important;
}

#nav-bar #Courses-show-btn,
#nav-bar #Courses-sort-btn,
#nav-bar #Notes-show-btn,
#nav-bar #Notes-sort-btn,
#nav-bar #certified-show-btn,
#nav-bar #certified-sort-btn {
  position: relative;
  cursor: pointer;
  width: 165px;
}

@media (max-width: 1080px) {
  #nav-bar .active {
    background-color: #04aa6d;
    order: -1;
  }
}

@media (max-width: 600px) {
  #nav-bar .acclink-text {
    text-decoration: none !important;
    border: 1px solid rgba(255, 244, 163, 0.5019607843);
    border-radius: 30px;
    padding: 2px 8px !important;
  }
}

#nav-bar .d-none {
  display: none !important;
}

#nav-bar .d-block {
  display: block !important;
}

#nav-bar .gsc-tnb-google-search-box {
  display: none;
}

#nav-bar #googleSearch {
  position: absolute;
  display: block;
  height: 1px;
  width: 1px;
  top: 0;
}

#nav-bar .tnb-soft-hide {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#nav-bar .black-box-container {
  margin-top: 35px;
}

#nav-bar *:focus-visible,
#nav-bar .seerviceslink:focus-visible {
  outline: #04aa6d solid 3px;
}

#nav-bar #nav_Courses:focus-visible,
#nav-bar #nav_Notes:focus-visible,
#nav-bar #nav_certified:focus-visible,
#nav-bar #nav_Books:focus-visible {
  outline: none;
}

#nav-bar #nav_Courses::-webkit-scrollbar,
#nav-bar #nav_Notes::-webkit-scrollbar,
#nav-bar #nav_certified::-webkit-scrollbar,
#nav-bar #nav_Books::-webkit-scrollbar {
  width: 10px;
}

#nav-bar #nav_Books>.PAN-content {
  max-width: 1100px;
  font-size: 18px;
}

@media (max-width: 954px) {
  #nav-bar #nav_certified {
    display: none !important;
  }
}

#nav-bar .tnb-nav-section-title {
  margin-top: 35px;
}

#nav-bar #dropdown-nav-outer-wrapper {
  position: relative;
  display: block;
  padding-top: 56px;
  width: 100%;
  height: 0;
}

#nav-bar #dropdown-nav-outer-wrapper #dropdown-nav-inner-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#nav-bar #dropdown-nav-outer-wrapper #dropdown-nav-inner-wrapper .dropdown-nav {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: #010413;
  color: white;
  padding-bottom: 60px;
  padding-top: 35px;
}

@media (max-width: 688px) {
  #nav-bar #dropdown-nav-outer-wrapper #dropdown-nav-inner-wrapper .dropdown-nav {
    display: none !important;
  }
}

#nav-bar.full-screen #dropdown-nav-outer-wrapper {
  height: 100vh;
}

#nav-bar .tnb-right-section {
  position: relative;
  display: block;
  height: 100%;
  padding-right: 5px;
  right: 0;
  overflow: hidden;
}

#nav-bar .tnb-right-section>a {
  margin-bottom: 56px;
}

#nav-bar .tnb-right-section .PAN-alt-btn,
#nav-bar .tnb-right-section .PAN-btn,
#nav-bar .tnb-right-section .PAN-button {
  margin-right: 10px;
  margin-left: 0;
}

#nav-bar .tnb-right-section .tnb-login-btn {
  position: relative;
  width: 112px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  background-color: #04AA6D;
  color: #ffffff;
  border-radius: 25px;
  padding-left: 39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 4;
}

#nav-bar .tnb-right-section .tnb-login-btn:hover {
  background-color: #059862 !important;
  color: #ffffff !important;
}

@media (max-width: 475px) {
  #nav-bar .tnb-right-section .tnb-login-btn {
    margin-left: 100px;
    width: 93px;
    padding-left: 16px;
  }
}

#nav-bar .tnb-right-section .tnb-signup-btn {
  position: relative;
  width: 93px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 25px;
  margin-right: -39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 5;
}

#nav-bar .tnb-right-section .tnb-profile-btn>.tnb-profile-icon {
  position: absolute;
  top: 12px;
  right: 31px;
}

#nav-bar .tnb-right-section .tnb-spaces-btn {
  position: relative;
  width: auto !important;
  text-align: center;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 25px;
  padding: 8px 16px;
}

#nav-bar .tnb-right-section .tnb-spaces-btn>svg {
  position: relative;
  right: 2px;
  top: 3px;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  color: #9763f6;
}

#nav-bar .tnb-right-section .tnb-jobs-btn {
  position: relative;
  width: auto !important;
  text-align: center;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 25px;
  padding: 8px 16px;
}

#nav-bar .tnb-right-section .tnb-jobs-btn>svg {
  position: relative;
  right: 2px;
  top: 3px;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  color: #9763f6;
}

#nav-bar .tnb-right-section .tnb-Web-btn {
  position: relative;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 25px;
  padding: 8px 16px;
}

#nav-bar .tnb-right-section .tnb-Web-btn>svg {
  position: relative;
  right: 2px;
  top: 3px;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  color: #9763f6;
}

#nav-bar .tnb-right-section .tnb-dashboard-btn {
  position: relative;
  display: block;
  width: auto;
  border-radius: 25px;
  text-align: center;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

#nav-bar .tnb-right-section .tnb-upgrade-btn {
  position: relative;
  display: block;
  border-radius: 25px;
  background-color: #9763f6;
  color: #fff;
  width: 115px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

#nav-bar .tnb-right-section .tnb-upgrade-btn:hover {
  background-color: #7d53cc !important;
  color: #fff !important;
}

#nav-bar .tnb-right-section .tnb-upgrade-btn>svg {
  position: relative;
  right: 2px;
  top: 2px;
  margin-right: 3px;
  width: 12px;
  height: 16px;
  color: #ffffff;
}

#nav-bar .gsc-results-wrapper-overlay {
  width: 70%;
  left: 15%;
}

#nav-bar .tnb-social-network-btns {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  padding: 100px 17px 20px 17px;
}

#nav-bar .tnb-social-network-btns>.PAN-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 10px;
}

#nav-bar .tnb-social-network-btns>.PAN-button:hover,
#nav-bar .tnb-social-network-btns>.PAN-button.tnb-active {
  background-color: #fbfbfb !important;
}

#nav-bar .tnb-social-network-btns>.PAN-button>.tnb-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}

#nav-bar .tnb-social-network-btns>.PAN-button>.tnb-icon.fa-discord {
  font-size: 20px;
  margin-left: -13px;
}

#nav-bar .tnb-close-menu-btn,
#nav-bar .tnb-close-nav-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  padding: 0;
}

#nav-bar .tnb-close-menu-btn:hover,
#nav-bar .tnb-close-nav-btn:hover,
#nav-bar .tnb-close-menu-btn.tnb-active,
#nav-bar .tnb-active.tnb-close-nav-btn {
  background-color: #fbfbfb !important;
}

#nav-bar .tnb-close-menu-btn>span,
#nav-bar .tnb-close-nav-btn>span {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 48px;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -12px;
}

#nav-bar .tnb-mobile-nav-section-body .tnb-close-nav-btn {
  display: none;
}

#nav-bar .tnb-mobile-nav-section-body>.PAN-content {
  padding: 35px 20px 20px 20px;
}

#nav-bar .tnb-mobile-top-action-btns {
  position: relative;
  height: 88px;
}

#nav-bar .tnb-mobile-top-action-btns>.tnb-dashboard-mobile-btn {
  position: relative;
  top: 50%;
  margin-top: -25px;
  float: left;
  height: 50px;
  width: auto;
}

.user-profile-bottom-wrapper {
  position: relative;
  display: inline-block;
  clear: both;
  width: 100%;
  text-align: center;
}

#nav-bar .user-profile-btn {
  display: block;
  float: right;
  top: 50%;
  margin-top: -22px;
}

.user-profile-btn {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0 !important;
}

#nav-bar .user-profile-btn {
  display: block;
  float: right;
  top: 50%;
  margin-top: -22px;
}

.user-profile-bottom-wrapper .user-profile-btn {
  transform: scale(1.2);
  top: 4px;
}

.user-profile-btn>.user-profile-icon {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  top: 7px;
  left: 9px;
}

.user-profile-btn>.user-progress {
  position: absolute;
  top: -14px;
  left: -4px;
  height: 70px;
  width: 70px;
}

.user-profile-btn>.user-progress>.user-progress-circle1 {
  stroke: rgba(4, 170, 109, 0.1);
  stroke-width: 4;
}

.user-profile-btn>.user-progress>.user-progress-circle2 {
  stroke: rgb(4, 170, 109);
  stroke-width: 4;
}

.user-profile-btn.quiz-variant>.user-progress>.user-progress-circle1 {
  stroke: rgba(44, 156, 202, 0.1);
}

.user-profile-btn.quiz-variant>.user-progress>.user-progress-circle2 {
  stroke: rgb(44, 156, 202);
}

.user-profile-btn.exercise-variant>.user-progress>.user-progress-circle1 {
  stroke: rgba(153, 102, 255, 0.1);
}

.user-profile-btn.exercise-variant>.user-progress>.user-progress-circle2 {
  stroke: rgb(153, 102, 255);
}

.user-profile-btn>.user-progress-star {
  position: absolute;
  top: -20px;
  left: -12px;
  line-height: normal;
  font-size: 12px;
  animation-name: user-progress-star-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: none;
}

.user-profile-btn>.user-progress-star.up-active {
  display: inline-block;
}

@keyframes user-progress-star-animation {
  0% {
    color: #FFD700;
    transform: rotate(0deg);
  }

  100% {
    font-size: 40px;
    color: #FFD700;
    transform: rotate(360deg);
  }
}

.user-profile-btn>.user-progress-point {
  position: absolute;
  top: -6px;
  left: -4px;
  line-height: normal;
  font-size: 12px;
  font-family: consolas, Menlo, monospace;
  background-color: transparent;
  color: transparent;
  border-radius: 5px;
  padding: 1px 3px;
  animation-name: user-progress-point-animation;
  animation-duration: 3s;
  animation-timing-function: linear;
  display: none;
}

.user-profile-btn>.user-progress-point.up-active {
  display: inline-block;
}

.user-profile-btn.quiz-variant>.user-progress-point {
  animation-name: user-progress-quiz-point-animation;
}

@keyframes user-progress-point-animation {
  0% {
    background-color: transparent;
    color: transparent;
  }

  1% {
    background-color: rgb(4, 170, 109);
    color: #fff;
  }

  5% {
    font-size: 16px;
  }

  14% {
    font-size: 12px;
  }

  16% {
    font-size: 16px;
  }

  25% {
    font-size: 12px;
  }

  27% {
    font-size: 16px;
  }

  29% {
    font-size: 12px;
    background-color: rgb(4, 170, 109);
    color: #fff;
  }

  50% {
    background-color: transparent;
    color: transparent;
  }
}

@keyframes user-progress-quiz-point-animation {
  0% {
    background-color: transparent;
    color: transparent;
  }

  1% {
    background-color: rgb(44, 156, 202);
    color: #fff;
  }

  5% {
    font-size: 16px;
  }

  14% {
    font-size: 12px;
  }

  16% {
    font-size: 16px;
  }

  25% {
    font-size: 12px;
  }

  27% {
    font-size: 16px;
  }

  29% {
    background-color: rgb(44, 156, 202);
    color: #fff;
  }

  50% {
    background-color: transparent;
    color: transparent;
  }
}